body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chess-board {
  display: flex;
  flex-direction: column;
  border: 2px solid #333;
}

.row {
  display: flex;
}

.square {
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Checking if can select square by id  */
/* #square-c7 {
  background-color: red;
} */

.light {
  background-color: #f0d9b5;
}

.dark {
  background-color: #b58863;
}

.figure-img {
  width: 70px;
  height: 70px;
}

@media (max-width: 768px) {
  .square {
    width: 80px;
    height: 80px;
  }

  .figure-img {
    width: 70px;
    height: 70px;
  }
}
@media (max-width: 425px) {
  .square {
    width: 40px;
    height: 40px;
  }

  .figure-img {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 320px) {
  .square {
    width: 30px;
    height: 30px;
  }

  .figure-img {
    width: 25px;
    height: 25px;
  }
}
